main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    justify-content: center;
    background: var(--color-background);
    position: absolute;
    .section-login {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        padding: 1rem;
        border-left: 2px solid var(--input-border-primary);
        h1 {
            font-size: 2rem;
            color: var(--text-color-primary);
        }
        span {
            font-size: 1rem;
            padding: .5rem 0;
            color: var(--text-color-primary);
            a {
                font-weight: bold;
                color: var(--color-primary);
                text-decoration: none;
            }
        }
        form {
            display: grid;
            gap: 1rem;
            width: 100%;
            max-width: 30rem;
        }
        input {
            padding: 1rem;
            border: 3px solid var(--input-border-primary);
            border-radius: 5rem;
            color: var(--text-color-primary);
            font-weight: 600;
            &::placeholder {
                color: var(--text-color-secondary);
            }
            &:focus,
            &:hover {
                border-color: var(--color-primary-ligth);
            }
            &:invalid {
                border-color: var(--input-border-invalid);
            }
        }
        button {
            padding: 1rem;
            border-radius: 5rem;
            background-color: var(--color-primary);
            border: none;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: .2rem;
            &:hover {
                filter: brightness(90%);
            }
        }
    }
    .section-figure {
        display: flex;
        justify-content: center;
        align-content: center;
        max-width: 100%;
        svg {
            width: 95%;
        }
    }
}

@media(max-width: 800px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 40% 1fr;
    }
    .section-figure {
        padding: 0 !important;
    }
    .section-login {
        padding: 0 1rem 1rem 1rem !important;
        border-left: none !important;
        justify-content: initial !important;
    }
}