<header>
    <nav mat-tab-nav-bar class="teste">
        <a mat-tab-link>
            <mat-icon class="example-tab-icon" [routerLink]="['/home']">house</mat-icon>
        </a>
        <a mat-tab-link>
            <mat-icon class="example-tab-icon">search</mat-icon>
        </a>
        <a mat-tab-link>
            <mat-icon class="example-tab-icon">receipt_long</mat-icon>
        </a>
        <a mat-tab-link>
            <mat-icon class="example-tab-icon" [routerLink]="['/profile']">person</mat-icon>
        </a>
    </nav>
</header>
