@use '@angular/material' as mat;
@include mat.core();
$Portifolio-primary: mat.define-palette(mat.$indigo-palette);
$Portifolio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$Portifolio-warn: mat.define-palette(mat.$red-palette);
$Portifolio-theme: mat.define-light-theme(( color: ( primary: $Portifolio-primary, accent: $Portifolio-accent, warn: $Portifolio-warn, )));
@include mat.all-component-themes($Portifolio-theme);
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'roboto', Arial, sans-serif;
    @media (max-width: 1080px) {
        font-size: 93.75%;
    }
    @media (max-width: 768px) {
        font-size: 87.5%;
    }
}

ul,
li {
    margin: 0px;
    padding: 0;
    list-style-type: none;
}

input,
button {
    outline: none !important;
    border: none;
}

button:hover {
    cursor: pointer;
}

:root {
    --color-background: #f7f7f7;
    --color-primary: #27125a;
    --color-primary-ligth: #2e1569;
    --color-primary-button: #66ffd0;
    --color-primary-ligth-2: #655388;
    --color-secondary: #eef1fb;
    --text-color-primary: #707073;
    --text-color-secondary: #b3b2b4;
    --input-border-primary: #ededed;
    --input-border-invalid: rgb(248, 121, 121);
    --nack-background-danger: rgb(248, 121, 121);
    --nack-background-sucess: rgb(79, 185, 76);
}


/* Animação Float Left*/

.floatLeft {
    opacity: 0;
    transform: translateX(-80px);
    animation: fadeInLeft .4s forwards;
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: initial;
    }
}


/* CSS SCROLL */

::-webkit-scrollbar {
    width: 0.6rem !important
}

::-webkit-scrollbar-track {
    background: #e1e1e1 !important;
}

::-webkit-scrollbar-thumb {
    background: #A839FF !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #A839FF !important;
}


/* FIM CSS SCROLL */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.my-snack-bar-fail {
    background-color: var(--nack-background-danger);
    color: #fff;
    button {
        color: #fff;
    }
}

.my-snack-bar-sucess {
    background-color: var(--nack-background-sucess);
    color: #fff;
    button {
        color: #fff;
    }
}