// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Portifolio-primary: mat.define-palette(mat.$indigo-palette);
$Portifolio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$Portifolio-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Portifolio-theme: mat.define-light-theme(( color: ( primary: $Portifolio-primary, accent: $Portifolio-accent, warn: $Portifolio-warn, )));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Portifolio-theme);

/* You can add global styles to this file, and also import other style files */

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'roboto', Arial, sans-serif;
    @media (max-width: 1080px) {
        font-size: 93.75%;
    }
    @media (max-width: 768px) {
        font-size: 87.5%;
    }
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}

input,
button {
    outline: none !important;
    border: none;
}

button:hover {
    cursor: pointer;
}

:root {
    --color-background: #f7f7f7;
    --color-primary: #8b57f8;
    --color-primary-ligth: #d3beff;
    --color-secondary: #eef1fb;
    --text-color-primary: #707073;
    --text-color-secondary: #b3b2b4;
    --input-border-primary: #ededed;
    --input-border-invalid: rgb(248, 121, 121);
    --nack-background-danger: rgb(248, 121, 121);
    --nack-background-sucess: rgb(79, 185, 76);
}


/* Animação Float Left*/

.floatLeft {
    opacity: 0;
    transform: translateX(-80px);
    animation: fadeInLeft .4s forwards;
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: initial;
    }
}


/* CSS SCROLL */

::-webkit-scrollbar {
    width: 0.6rem !important
}

::-webkit-scrollbar-track {
    background: #e1e1e1 !important;
}

::-webkit-scrollbar-thumb {
    background: #A839FF !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #A839FF !important;
}


/* FIM CSS SCROLL */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.my-snack-bar-fail {
    background-color: var(--nack-background-danger);
    color: #fff;
    button {
        color: #fff;
    }
}

.my-snack-bar-sucess {
    background-color: var(--nack-background-sucess);
    color: #fff;
    button {
        color: #fff;
    }
}
